# compiled output
/dist
/node_modules

# logs
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# os
.DS_Store

# tests
/coverage
/.nyc_output

# ide
/.idea
/.vscode
*.swp
*.iml

# npm
package-lock.json

# environment
.env
.env.test
.env.production
